{
   "tenantId": "your_tenant_id",
   "appId": "your_app_id",
   "appSecret": "your_app_secret",
   "subscriptionId": "your_sub_id",
   "resourceGroup": "your_resource_group_name",
   "vmssName": "your_vm_scale_set_name",
   "vmSku": "your_vmsku",
   "tier": "your_vmtier",
   "logEnabled": "Yes",
   "purgeLog": "Yes",
   "logName": "asciivmssdashboard.log",
   "logLevel": "DEBUG",
   "interval": 60,
   "AnimationEnabled": "Yes",
   "insightsAppId": "your_insightsappid",
   "insightsKey": "your_insightsappkey",
   "insightsUrl": "",
   "insightsOneEnabled": "No",
   "insightsOneMetric": "",
   "insightsOneUrl": "http://localhost:8080",
   "insightsOneTitle": "REQS",
   "insightsTwoEnabled": "No",
   "insightsTwoMetric": "",
   "insightsTwoUrl": "http://localhost:8080",
   "insightsTwoTitle": "RT",
   "insightsInterval": 20 
}
